
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    background-color: #131518;
    height: fit-content;
}

body{
    position: relative;
}

#title{
    
    font-weight: bold;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
}

header{
    background-color: #1a2224;
    height: 50px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
}

#about{
    background-color: #1a2224;
    height: 50px;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
}


a:hover{
    background-color: #237533;
    border-radius: 5px;

}

button:hover{
    background-color: #237533;
    border-radius: 5px;
}


.ulist{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

nav{
    padding: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    /* padding-bottom: 50px; */
    background-color: #131518;
}

.navlink{
    background-color: #238636;
   
    /* padding: 10px; */
    border-radius: 5px;
    margin: 0 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* height: 100px; */
    transition: 0.3s;
    cursor: pointer;
    

}


nav ul li{
    margin:auto;
    padding:0 0 0 0;
}

nav ul li a{
    text-decoration: none;
    color:#f0f6fc;
    margin:auto;
    display: block;
    /* padding-left: 100px;
    padding-right: 100px; */
    width:100%;
    height: 100%;
}

#PortfolioProjects{
    background-color: #1a2224;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
}

#project{
    background-color: #131518;
    height: 100%;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: row;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    /* padding-bottom: 1%; */
    padding-top: 10px;
}

#container-left{
    background-color: #1a2224;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 0%;
    padding-top: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#container-right{
    background-color: #1a2224;
    width: 100%;
    top: 0;
    left: 50%;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 0%;
    padding-top: 10px;
    margin: 10px;
}

.buttons{
    background-color: #238636;
    color: white;
    /* padding: 10px; */
    border-radius: 5px;
    margin: 0 50px;
    font-size: 1.2em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    /* height: 100px; */
    /* transition: 0.3s; */
    cursor: pointer;
    box-shadow: none;
    text-shadow: none;
    outline: none;
    outline-style: none;
    outline-color: none;
    border-color: none;
    box-shadow: none;
}
#button1{
    border-color: none;
}

#container-left div{
    background-color: #1a2224;
    width: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 15%;
    padding-top: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;

}

#container-right div{
    background-color: #1a2224;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 1%;
    padding-top: 10px;
    /* div follows scroll bar */
    position:sticky;
    margin: 10px;
    justify-content: center;
    align-items: center;

}
#container-right div img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
    margin: 10px;
    justify-content: center;
    align-items: center;
    top:20px;
}


.project-paragraph{
    /* need !important to ovverride inherited style  */
    /* Important needs to be used because all divs
    in container-left need to have the same styles and 
    it allows for easier implementation of future projects */
    box-shadow: none !important;
    padding-bottom: 0 !important;
}

/* .button-boxes{
} */

footer{
    background-color: #1a2224;
    height: 100%;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 0%;
    padding-top: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}

#about-me{
    width: none;
}
#about-me div{
    background-color: #1a2224;
    width: none;
    /* position: fixed; */
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;
    flex-direction: column;
    padding: 0 20px;
    box-shadow: 0px 0px 5px #000;
    color:white;
    padding-left: 40px;
    padding-bottom: 1%;
    padding-top: 10px;
    margin: 10px;
    justify-content: center;
    align-items: center;
}
#about-me div h3{
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    /* transition: 0.3s; */
    box-shadow: none;
    text-shadow: none;
    outline: none;
    outline-style: none;
    outline-color: none;
    border-color: none;
    box-shadow: none;
}

